.carousel{
    margin-top: 20px;
}
.carousel-title {
    font-style: italic;
    font-weight: 600;
}
.carousel-item{
    display: flex;
    justify-content: space-between;
}
.carousel-card{
    width: 184px;
    height: 244px;
    background-color: #fff;
    border-radius: 10%;
    padding: 16px;

}

.carousel-card-body{
    height: 100%;
}

a {
    cursor: pointer;
    color: inherit;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

.carousel-card-img{
    display: flex;
    position: relative;
    height: 75%;
    width: 100%;
}
.btn-play i {
    color: aqua;
    position: relative;
    display: inline-block;
    left: 125px;
    top: -20px;
}
.img-responsive{
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10%;
    
}

.carousel-card-content{
    min-height: 62px;
    color: #333;

 }
.carousel-card-title{
    font-weight: 700;
    font-size: 2rem;
}

.carousel-card-text{
    margin: 0;
    font-size: 1rem;
}